imports:
  - { resource: 'tables.yml' }
services:
  dmzx.ultimatepoints.listener:
    class: 'dmzx\ultimatepoints\event\listener'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@user'
      - '@template'
      - '@dbal.conn'
      - '@config'
      - '@auth'
      - '@controller.helper'
      - '@cache'
      - '@request'
      - '%core.root_path%'
      - '%core.php_ext%'
      - '%dmzx.ultimatepoints.table.points.bank%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'
    tags:
      - { name: 'event.listener' }

  dmzx.ultimatepoints.controller:
    class: 'dmzx\ultimatepoints\controller\main'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@dmzx.ultimatepoints.core.points.main'
      - '@dmzx.ultimatepoints.core.points.info'
      - '@dmzx.ultimatepoints.core.points.transfer.user'
      - '@dmzx.ultimatepoints.core.points.bank'
      - '@dmzx.ultimatepoints.core.points.logs'
      - '@dmzx.ultimatepoints.core.points.bank.edit'
      - '@dmzx.ultimatepoints.core.points.lottery'
      - '@dmzx.ultimatepoints.core.points.points.edit'
      - '@dmzx.ultimatepoints.core.points.robbery'
      - '@dmzx.ultimatepoints.core.points.robbery.user'
      - '@dmzx.ultimatepoints.core.points.transfer'
      - '@template'
      - '@user'
      - '@auth'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '%core.root_path%'
      - '%core.php_ext%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.list.controller:
    class: 'dmzx\ultimatepoints\controller\userlist'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@pagination'
      - '@controller.helper'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.admin.controller:
    class: 'dmzx\ultimatepoints\controller\admin_controller'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@template'
      - '@user'
      - '@auth'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@log'
      - '@service_container'
      - '%core.root_path%'
      - '%core.php_ext%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'
      - '%dmzx.ultimatepoints.table.points.log%'
      - '%dmzx.ultimatepoints.table.points.lottery.history%'

  dmzx.ultimatepoints.notification.type.points:
    class: 'dmzx\ultimatepoints\notification\points'
    shared: false # service MUST not be shared for this to work!
    parent: notification.type.base
    calls:
      - [ set_user_loader, [ '@user_loader' ] ]
      - [ set_helper, [ '@controller.helper' ] ]
    tags:
      - { name: notification.type }

  dmzx.ultimatepoints.core.functions.points:
    class: 'dmzx\ultimatepoints\core\functions_points'
    arguments:
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@controller.helper'
      - '@notification_manager'
      - '@log'
      - '@cache'
      - '@request'
      - '@config'
      - '@ext.manager'
      - '@service_container'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.bank%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.lottery.history%'
      - '%dmzx.ultimatepoints.table.points.lottery.tickets%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.core.points.main:
    class: 'dmzx\ultimatepoints\core\points_main'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@config'
      - '@controller.helper'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.bank%'
      - '%dmzx.ultimatepoints.table.points.values%'
      - '%dmzx.ultimatepoints.table.points.log%'
      - '%dmzx.ultimatepoints.table.points.lottery.tickets%'
      - '%dmzx.ultimatepoints.table.points.lottery.history%'

  dmzx.ultimatepoints.core.points.info:
    class: 'dmzx\ultimatepoints\core\points_info'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@dbal.conn'
      - '@template'
      - '@user'
      - '@config'
      - '@controller.helper'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.core.points.transfer.user:
    class: 'dmzx\ultimatepoints\core\points_transfer_user'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@service_container'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.log%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.core.points.bank:
    class: 'dmzx\ultimatepoints\core\points_bank'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@log'
      - '@notification_manager'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.bank%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.core.points.logs:
    class: 'dmzx\ultimatepoints\core\points_logs'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@pagination'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.log%'
      - '%dmzx.ultimatepoints.table.points.values%'

  dmzx.ultimatepoints.core.points.bank.edit:
    class: 'dmzx\ultimatepoints\core\points_bank_edit'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@cache'
      - '@log'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.bank%'

  dmzx.ultimatepoints.core.points.lottery:
    class: 'dmzx\ultimatepoints\core\points_lottery'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@pagination'
      - '@service_container'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'
      - '%dmzx.ultimatepoints.table.points.lottery.history%'
      - '%dmzx.ultimatepoints.table.points.lottery.tickets%'

  dmzx.ultimatepoints.core.points.points.edit:
    class: 'dmzx\ultimatepoints\core\points_points_edit'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@config'
      - '@controller.helper'
      - '@log'
      - '@request'
      - '%core.php_ext%'
      - '%core.root_path%'

  dmzx.ultimatepoints.core.points.robbery:
    class: 'dmzx\ultimatepoints\core\points_robbery'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@notification_manager'
      - '@service_container'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'
      - '%dmzx.ultimatepoints.table.points.log%'
  dmzx.ultimatepoints.core.points.robbery.user:
    class: 'dmzx\ultimatepoints\core\points_robbery_user'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@notification_manager'
      - '@service_container'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'
      - '%dmzx.ultimatepoints.table.points.log%'
  dmzx.ultimatepoints.core.points.transfer:
    class: 'dmzx\ultimatepoints\core\points_transfer'
    arguments:
      - '@dmzx.ultimatepoints.core.functions.points'
      - '@auth'
      - '@template'
      - '@user'
      - '@dbal.conn'
      - '@request'
      - '@config'
      - '@controller.helper'
      - '@service_container'
      - '%core.php_ext%'
      - '%core.root_path%'
      - '%dmzx.ultimatepoints.table.points.log%'
      - '%dmzx.ultimatepoints.table.points.config%'
      - '%dmzx.ultimatepoints.table.points.values%'